<div class="new-joinee-form">
    <form  #Newjoinee="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Frist Name</label>
            <input type="text" class="form-control" id="name" 
                   required
                   [(ngModel)]="model.name"required name="name"  #name="ngModel">
                   <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                   First Name is required
        </div>

    </div>
    <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" id="lname" required [(ngModel)]="model.lname" name="lname"  #lname="ngModel">
               <div [hidden]="lname.valid || lname.pristine"
               class="alert alert-danger">
               Last Name is required
    </div>

</div>


<div class="form-group">
    <label for="name">Phone</label>
    <input type="text" class="form-control" id="phone"  pattern="^\d{4}-\d{3}-\d{4}$" required [(ngModel)]="model.phone" name="phone"  #phone="ngModel">
          e.g: xxxx-xxx-xxxx<div [hidden]="phone.valid || phone.pristine"
           class="alert alert-danger">
           Phone Number is required
</div>

</div>

<div class="form-group">
    <label for="name">Email ID</label>
    <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"  pattern="[^ @]*@[^ @]*"  #email="ngModel">
           <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
           Email is required
</div>

</div>


<button type="submit" class="btn btn-success" [disabled]="!Newjoinee.form.valid">Submit</button>
<div title="We can fetch data from service that will return the result in obserable type with the use of subscribe method that refresh the employeeList component automatically. "><a href="/" class="primary">Reload User List</a></div>

</form>


</div>

