<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let employee of allData;let i = index" >       
            <th scope="row">{{i+1}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.lname}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
        </tr>
       
    </tbody>
</table>
</div>