<app-header></app-header>
<div class="container">
   <div class="row">
   <div class="col-xs-12">
       <div><app-cms></app-cms></div>
   </div>
   </div>
    <div class="row body-section">
       <div class="col-xs-6"> <app-newjoinee></app-newjoinee>
   </div>
        <div class="col-xs-6" ><app-employee-list ></app-employee-list>
   </div>
       
 </div>
</div>
<app-footer></app-footer>
