.header{
    background-color: background;
    width: 100%;
    height:50%;
    color: white;
    margin-top: 0px;
    text-align: center;
}
.footer{
    background-color: background;
    width: 100%;
    height:15%;
    color: white;
    margin-bottom: 0px;
    text-align: center; 
}
.cms-content{
    margin-top: 5px;
    background-color: antiquewhite; 
}
.new-joinee-form{
       
}
.body-section{
     margin-top: 10px;
     margin-bottom: 10px;  
}